---
import MainLayout from "@/layouts/main.layout.astro";

import StorySection from "@/components/index/Story.astro";
import ProjectsSection from "@/components/index/Projects.astro";
---

<MainLayout title="Home">
  <main class="mx-auto my-16 w-full max-w-2xl space-y-5 px-4 md:px-0">
    <StorySection />
    <ProjectsSection />
  </main>
</MainLayout>
