---
import { richTextResolver } from "@storyblok/astro";
import { type StoryblokRichTextNode } from "@storyblok/astro";
import { cn } from "@/lib/utils";

interface Props {
  content: StoryblokRichTextNode<string>;
}
const { content } = Astro.props;

const { render } = richTextResolver({
  optimizeImages: {
    loading: "lazy",
    width: 800,
    height: 600,
    srcset: [400, 800, 1200, 1600],
    filters: {
      format: "webp",
    },
  },
});

const html = render(content);

const styles = cn(
  // base
  "prose prose-invert text-foreground",
  // a
  "prose-a:text-link prose-a:hover:opacity-95 prose-a:active:opacity-90 transition-opacity",
  // img
  "prose-img:rounded-md prose-img:shadow-xl",
);
---

<div class={styles}>
  <Fragment set:html={html} />
</div>
