---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";
import { CldImage } from "astro-cloudinary";

import type { ProjectStoriesResponse } from "@/types/project";

const storyblokApi = useStoryblokApi();

const { data }: { data: ProjectStoriesResponse } = await storyblokApi.get(
  "cdn/stories",
  {
    version: import.meta.env.DEV ? "draft" : "published",
    content_type: "projects",
  },
);

const posts = data.stories.map((story) => {
  return {
    previewImageId: story.content.preview_image_id,
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("en-US", {
      dateStyle: "full",
    }),
    description: story.content.description,
    slug: story.full_slug,
  };
});

const { blok } = Astro.props;
---

<ul
  {...storyblokEditable(blok)}
  class="grid grid-cols-1 gap-3 md:grid-cols-2 md:gap-4"
>
  {
    posts.map((post) => (
      <li class="group relative aspect-video overflow-hidden rounded-md">
        <a href={post.slug}>
          <CldImage
            src={post.previewImageId}
            width={1280}
            height={720}
            alt={post.title}
            class="absolute inset-0 object-cover transition group-hover:brightness-50"
          />
          <div class="bg-background/15 absolute inset-x-0 bottom-0 p-2 opacity-0 backdrop-blur-sm transition group-hover:opacity-100">
            <h2 class="text-sm">{post.title}</h2>
          </div>
        </a>
      </li>
    ))
  }
</ul>
